@font-face
  font-family: "HeliosC"
  src: url("../../fonts/heliosc.otf")

@font-face
  font-family: "HeliosCBold"
  src: url("../../fonts/heliosc_bold.otf")

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')
