$input-color: $color-gray-dark-1
$input-bg-color: $color-gray-light-3
$input-height: 40px
$input-font-size: 18px

input
  color: $input-color
  background: $input-bg-color
  border-radius: 50px
  height: $input-height
  line-height: $input-height
  font-size: $input-font-size
  border: none